.LoginPage{
	width:100%;
	display:flex;
	align-items: center;
	justify-content: space-around;
}

.login_vector{
	margin-right:200px;
}


.LoginForm{
	width:400px;
	height:500px;
	background:var(--grey);
	display: flex;
	flex-direction:column;
	align-items: center;
	justify-content: center;
	border-radius: 15px 0 0 15px;
}



.LoginForm .login_logo{
	margin:0 0 10px 0;
}

.login_title{
	margin-bottom:30px;
}

.LoginForm > input{
	border:0;
	border-radius: 3px;
	font-size:16px;
	background-color:var(--grey-light);
	padding:5px 10px;
	margin-bottom:20px;
	width:300px;
	height:40px;
	transition:0.2s;
}


.event__button.login{
	background-color:var(--blue);
	height:35px;
	font-size:14px;
	margin-bottom:20px;
	broder-radius:7px;
}
.event__button.login::hover{
	background-color:var(--purple);
}


.LoginForm .signup_prompt{
	display: flex;
	align-items: center;
	font-size:12px;
}

.LoginForm .signup_prompt > p{
	color:var(--sky-blue);
	margin-left:5px;
	cursor:pointer;
}